@{
    ViewData["Title"] = "Home Page";
}
<!--This is the view for the homepage.  We loop through each iteration of the data entered in the database.-->
@model ProjectListViewModel

<br />
<br />
<!--.Bookstores?-->

@foreach (var x in Model.Bookstores)
{<!--making little drop down thingies-->
    <div class="container, text-left">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#@x.BookId">@x.Title</a>
                    </h4>
                </div>
                <div id="@x.BookId" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Author: @x.AuthorFirst @x.AuthorMiddle  @x.AuthorLast</p>
                        <p>Publisher: @x.Publisher</p>
                        <p>ISBN: @x.ISBN</p>
                        <p>Classification: @x.Classification</p>
                        <p>Category: @x.Category</p>
                        <p>Price: @x.Price</p>
                        <p>Page number: @x.PageNum</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
                    
}



    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enables="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
