@model Bookstore
<!--This page is the partial page that is used to display all the cute drop downs-->
<div class="container, text-left">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#@Model.BookId">@Model.Title</a>
                </h4>
            </div>
            <div id="@Model.BookId" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Author: @Model.AuthorFirst @Model.AuthorMiddle  @Model.AuthorLast</p>
                    <p>Publisher: @Model.Publisher</p>
                    <p>ISBN: @Model.ISBN</p>
                    <p>Classification: @Model.Classification</p>
                    <p>Category: @Model.Category</p>
                    <p>Price: @Model.Price</p>
                    <p>Page number: @Model.PageNum</p>
                </div>
                <form id="@Model.BookId" asp-page="/Purchase" method="post">
                    <input type="hidden" asp-for="BookId"/>
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
                    <span class="card-text p-1">
                        @Model.Title
                        <button type="submit" class="btn-success btn-sm pull-right" style="float:right">
                            Purchase
                        </button>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>

